<h3 class="titulo">{{ tituloPagina }}</h3>

<app-detalhar-solicitacao [isEleitoral]="isEleitoral" [isAfastamento]="isAfastamento" [isPendentes]="true" [solicitacao]="solicitacao"></app-detalhar-solicitacao>

<div class="d-flex w-100 align-items-center justify-content-end mb-2">
  <button type="button" class="btn btn-warn" (click)="voltar()">Voltar</button>
  <button type="button" class="btn btn-danger" (click)="toogleRecusar()">Recusar</button>
  <button type="button" class="btn btn-primary" (click)="confirmar()">Confirmar</button>
</div>

<p-confirmDialog acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

<p-dialog header="Recusar Solicitação" [modal]="true" [(visible)]="recusando">
  <p-messages [(value)]="msgs" [closable]="false"></p-messages>
  <div class="d-flex direction-column">
    <p>Informe o motivo da recusa de atendimento *</p>
    <textarea
      *ngIf="solicitacao"
      [(ngModel)]="solicitacao.motivoRejeicao"
      name="motivoRejeicao"
      maxlength="150"
      style="resize: none"
      class="mb-1"
      cols="50"
      rows="4"
      pInputTextarea
      autoResize="autoResize"
    ></textarea>
    <div class="d-flex w-100 align-items-center justify-content-end mb-2">
      <button type="button" class="btn btn-warn" (click)="toogleRecusar()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="recusar()">Salvar</button>
    </div>
  </div>
</p-dialog>