<!-- footer -->
<footer>
  <div class="content">

      <!--<h6>Caixa Econômica Federal -  {{ title }} - Versão {{ version }}</h6>>-->

      <ul style="float: left; padding-top: 3px">
          <li>
              <h6 style="padding-top: 3px">Caixa Econômica Federal - Versão {{ version }}</h6> 
          </li>
        </ul>

      <ul>
        <li>
            <img src="../assets/images/pedes_white.png" title="PEDeS" style="margin-bottom: 10px;" height="20">
        </li>
      </ul>

  </div>
</footer>
<!-- /footer -->